#page-map {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
}

#page-map aside {
  width: min-content;
  background: linear-gradient(329.54deg, #7B68EE 0%, #7B68EE 100%);
  padding: 3rem;

  min-width: 25%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#page-map aside h2 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 2.625rem;

  margin-top: 4rem;
}

#page-map aside p {
  line-height: 1.75rem;
  margin-top: 1.5rem;
} 

#page-map aside footer {
  display: flex;
  flex-direction: column;
  
  line-height: 1.5rem;
}

#page-map aside footer strong {
  font-weight: 800;
}

#page-map .leaflet-container {
  z-index: 5;
} /* Essa tag é a tag do mapa, que é gerada automaticamente */

#page-map .create-place {
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;

  z-index: 10;

  width: 4rem;
  height: 4rem;
  background: #7864e9;
  border-radius: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

#page-map .create-place:hover {
  background: #9586e9;
}

#page-map #light-v10 {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;

  z-index: 10;

  width: 4rem;
  height: 4rem;
  background: #7864e9;
  border-radius: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

#page-map #light-v10:hover {
  background: #9586e9;
}

#page-map #dark-v10 {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;

  z-index: 10;

  width: 4rem;
  height: 4rem;
  background: #a9a6bd;
  border-radius: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

#page-map #dark-v10:hover {
  background: #aba8c0;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.25rem;
  box-shadow: none;

  height: 3.625rem;
}

#page-map .map-popup .leaflet-popup-content {
  color:#6651da;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0.75rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-map .map-popup .leaflet-popup-content a {
  width: 2.5rem;
  height: 2.5rem;
  background: #826ff0;
  box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
  border-radius: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-map .map-popup .leaflet-popup-content a:hover {
  background: #9384eb;
}

#page-map .map-popup .leaflet-popup-tip-container {
  display: none;
}